---
title: Documentation for Bubble.js - Widgetful
description: Documentation and API references for Bubble.js
layout: layouts/docs.njk
---

<div class="relative py-8">
  <div class="flex flex-row">
    <div class="w-1/3 sticky top-10 self-start">
      <nav class="lg:text-sm lg:leading-6 relative">
        <ul>
          <li>
            <h5 class="mb-8 lg:mb-3 font-semibold text-blue-700">Getting Started</h5>
          </li>
        </ul>
      </nav>
    </div>
    <div class="w-2/3">
      <p class="mb-4">Cras ut dolor sit amet mauris tristique suscipit venenatis ut diam. Duis porttitor quam a felis semper, in ullamcorper elit commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam consectetur urna vel libero scelerisque commodo. Nunc et placerat mi, nec accumsan ligula. Sed fringilla ullamcorper tincidunt. Nunc blandit scelerisque nisl vitae faucibus. Sed sagittis tempus rhoncus. Suspendisse at felis massa. Nulla at bibendum elit, sed mattis elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet tortor nibh, eget venenatis arcu viverra sit amet. Cras vitae sapien quis libero faucibus volutpat vel at erat. Pellentesque a molestie mauris, ut scelerisque eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <p class="mb-4">Cras ut dolor sit amet mauris tristique suscipit venenatis ut diam. Duis porttitor quam a felis semper, in ullamcorper elit commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam consectetur urna vel libero scelerisque commodo. Nunc et placerat mi, nec accumsan ligula. Sed fringilla ullamcorper tincidunt. Nunc blandit scelerisque nisl vitae faucibus. Sed sagittis tempus rhoncus. Suspendisse at felis massa. Nulla at bibendum elit, sed mattis elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet tortor nibh, eget venenatis arcu viverra sit amet. Cras vitae sapien quis libero faucibus volutpat vel at erat. Pellentesque a molestie mauris, ut scelerisque eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <p class="mb-4">Cras ut dolor sit amet mauris tristique suscipit venenatis ut diam. Duis porttitor quam a felis semper, in ullamcorper elit commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam consectetur urna vel libero scelerisque commodo. Nunc et placerat mi, nec accumsan ligula. Sed fringilla ullamcorper tincidunt. Nunc blandit scelerisque nisl vitae faucibus. Sed sagittis tempus rhoncus. Suspendisse at felis massa. Nulla at bibendum elit, sed mattis elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet tortor nibh, eget venenatis arcu viverra sit amet. Cras vitae sapien quis libero faucibus volutpat vel at erat. Pellentesque a molestie mauris, ut scelerisque eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <p class="mb-4">Cras ut dolor sit amet mauris tristique suscipit venenatis ut diam. Duis porttitor quam a felis semper, in ullamcorper elit commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam consectetur urna vel libero scelerisque commodo. Nunc et placerat mi, nec accumsan ligula. Sed fringilla ullamcorper tincidunt. Nunc blandit scelerisque nisl vitae faucibus. Sed sagittis tempus rhoncus. Suspendisse at felis massa. Nulla at bibendum elit, sed mattis elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet tortor nibh, eget venenatis arcu viverra sit amet. Cras vitae sapien quis libero faucibus volutpat vel at erat. Pellentesque a molestie mauris, ut scelerisque eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      <p class="mb-4">Cras ut dolor sit amet mauris tristique suscipit venenatis ut diam. Duis porttitor quam a felis semper, in ullamcorper elit commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam consectetur urna vel libero scelerisque commodo. Nunc et placerat mi, nec accumsan ligula. Sed fringilla ullamcorper tincidunt. Nunc blandit scelerisque nisl vitae faucibus. Sed sagittis tempus rhoncus. Suspendisse at felis massa. Nulla at bibendum elit, sed mattis elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet tortor nibh, eget venenatis arcu viverra sit amet. Cras vitae sapien quis libero faucibus volutpat vel at erat. Pellentesque a molestie mauris, ut scelerisque eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
