---
layout: layouts/base.njk
---
<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="relative py-8">
    <div class="flex flex-row">
      <div class="w-1/3 sticky top-10 self-start">
        {% include "partials/docs/sidenav.njk" %}
      </div>
      <div class="w-2/3">
        <div class="docucmentation">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>
  {% include "partials/footer.njk" %}
</div>
