---
title: JavaScript & Web Components by Widgetful
description: Widgetful makes delightful JavaScript web components to shorten your development time
layout: layouts/base.njk
---
<div class="relative py-16 bg-white overflow-hidden">
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
    <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
      <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
        <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
      </svg>
      <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
        <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
      <span class="block text-base text-center text-blue-600 font-semibold tracking-wide uppercase">Introducing</span>
      <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Bubbles.js</span>
      </h1>
      <p class="mt-4 text-xl text-gray-500 leading-8">Bubbles.js is an open source JavaScript library to create and display widgets that users can trigger. Build chat bubbles, help prompts, and more on top of Bubble.</p>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
      <div class="my-8 leading-loose">
        <h2 class="text-xl mb-4 font-semibold text-blue-700">How can I use Bubbles.js?</h2>
        <p>Bubbles.js support two ways of usage:</p>
        <ol class="mb-4 list-decimal ml-8">
          <li>
            <a class="underline text-blue-700" href="#without-build-tools">Without build tools</a>
          </li>
          <li>
            <a class="underline text-blue-700" href="#with-build-tools-es-modules">With build tools via ES modules</a>
          </li>
        </ol>

        <div class="my-10">
          <h3 id="without-build-tools" class="text-md font-semibold">1. Using Bubbles.js directly without build tools</h3>
          <div class="pl-4 border-l-4">
            <h4 class="text-md leading-6 text-slate-900 font-semibold my-3">
              Add bubble.js to the <span class="font-mono bg-gray-100 p-1 rounded">&#60;head&#62;</span> section
            </h4>
            <div class="relative z-10 col-span-3 bg-neutral-800 rounded-md shadow-lg mb-4">
{% highlight "html" %}
<head>
  <script src="https://unpkg.com/bubbles.js" defer></script>
</head>
{% endhighlight %}
            </div>
            <h4 class="text-md leading-6 text-slate-900 font-semibold my-3">Initialize your bubble</h4>
            <div class="relative z-10 col-span-3 bg-neutral-800 rounded-md shadow-lg mb-4">
{% highlight "html" %}
<script>
  window.bubble = Bubble.init()
</script>
{% endhighlight %}
            </div>
          </div>
        </div>

        <div class="my-10">
          <h3 id="with-build-tools-es-modules" class="text-md font-semibold">2. Using Bubbles with build tools via ES modules</h3>
          <div class="pl-4 border-l-4">
            <h4 class="text-md leading-6 text-slate-900 font-semibold my-3">
              Using npm, run the following in your project's root path
            </h4>
            <div class="relative z-10 col-span-3 bg-neutral-800 rounded-md shadow-lg mb-4">
{% highlight "shell" %}npm i bubblejs --save{% endhighlight %}
            </div>

            <h4 class="text-md leading-6 text-slate-900 font-semibold my-3">Import bubblejs into your project</h4>
            <div class="relative z-10 col-span-3 bg-neutral-800 rounded-md shadow-lg mb-4">
{% highlight "js" %}import * as FilePond from 'filepond';
import 'filepond/dist/filepond.min.css';{% endhighlight %}
            </div>
          </div>
        </div>
      </div>
      <div class="my-8 leading-loose">
        <h2 class="text-xl mb-4 font-semibold text-blue-700">What can I use Bubbles.js for?</h2>
        <p>Bubbles.js provides a great starting point to build your next JavaScript web widget, such as:</p>
        <ul class="list-disc ml-4">
          <li>Chat bubble</li>
          <li>Documentation popup</li>
          <li>Onboarding guide</li>
          <li>Setup checklist</li>
          <li>Popup contact form</li>
        </ul>
      </div>
      <div class="mt-8 leading-loose">
        <h2 class="text-xl mb-4 font-semibold text-blue-700">What is the license of Bubbles.js?</h2>
        <p class="mb-4">Bubbles.js, the core library, provides a MIT License.</p>
        <p>We also offer commercial Bubbles.js extension libraries that provides pre-built functionalities to save development time in your projects. These are licensed commercially only.</p>
      </div>
    </div>
  </div>
</div>
